html, body {
  background-color: #000;
  color: #000;
  margin: 0;
  padding: 3px;
  font-family: "Roboto";
}
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

table {
  border: 1px solid gray;
  padding: 0;
  margin: 0;
}

tr {
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid gray;
}

th, td {
  padding: 0 10px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input, button {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

/* ----- Popup Modal Start ----- */
.modal-section {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

.modal-section.active {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.5;
}

.modal {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100% - 70%);
  min-height: 200px;
  background: #fff;
  z-index: 10;
  margin: 30px auto;
  border-radius: 5px;
  padding: 10px;
}

.modal .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 10px 0 0;
}
/* ----- Popup Modal Ends ----- */

.menu-details .category-wise-menu {
  display: none;
}
.menu-details .category-wise-menu.active {
  display: block;
}