.admin-page {
  position: relative; }
  .admin-page .title {
    flex-grow: 1; }
  .admin-page .main-actions {
    padding: 5px 10px;
    margin: 10px 0; }
    .admin-page .main-actions .action {
      margin-right: 8px; }
  .admin-page .menu-section {
    position: relative;
    padding: 0 10px;
    margin-top: 10px; }
  .admin-page .category-section {
    position: relative;
    padding: 0 10px;
    margin-top: 10px; }
